*{
    margin: 0;
    padding: 0;
    font-family: Noto Sans;
}

h2{
    margin: 10px;
    padding: 10px;
    background-color: beige;    
}

.parent{
    background-color: #afddaf70;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    height: fit-content;
}
.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#content{
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 70vw;
    height: 55vh;
    resize: vertical;
}

.control-btns{
    display: block;
    margin: 10px auto;
    padding: 15px 25px;
    background-color: green;
    color: beige;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
